!bin
.git
.DS_Store
vim/bundle/
vim/vim/plugged
vim/vim/undo
vim/vim/sessions
vim/vim/session
vim/vim/colors
vim/vim/.netrwhist
vim/vim.symlink/plugged
vim/vim.symlink/sessions
.config/lazyvim/.undo
lazyvim/.undo
*.DS_Store
*.sw[nop]
.bundle
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
tmp/**/*
!tmp/cache/.keep
zeus.json
node_modules/
node-report*.txt
session/
