!bin
vim/bundle/
.DS_Store
git/gitconfig.symlink
ruby/bundle.symlink/cache/
vim/vim.symlink/plugged
vim/vim.symlink/undo
vim/vim.symlink/sessions
vim/vim.symlink/session
vim/vim.symlink/colors
vim/vim.symlink/.netrwhist
oh-my-zsh/custom/plugins
oh-my-zsh/custom/themes
