[user]
	name = Tristan WAGNER
	email = t.wagner66250@gmail.com
	signingkey = 60E35349BE4E112D!
[alias]
  br = branch
  p = add -p
  co = checkout
  ci = commit
  coi = !git for-each-ref --sort=-committerdate --format='%(refname:short) (%(committerdate:relative))' refs/heads | fzf --reverse --nth=1 --preview 'git log --patch --color {1}...{1}~5' | awk '{print $1}' | xargs git checkout
  st = status
  staged = diff --staged
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[core]
  excludesfile = ~/.gitignore
  editor = vim
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[difftool]
  prompt = false
[mergetool]
  prompt = false
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[commit]
  gpgsign = true
  verbose = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[hub]
  protocol = https
[rerere]
  enabled = true
  autoupdate = true
[help]
  autocorrect = prompt
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
