!bin
.git
.DS_Store
.vim/bundle/
.vim/plugged
.vim/undo
.vim/sessions
.vim/session
.vim/colors
.vim/.netrwhist
vim/vim.symlink/plugged
vim/vim.symlink/sessions
.config/coc
.config/lazyvim/.undo
.config/lazyvim/lazy-lock.json
lazyvim/.undo
*.DS_Store
*.sw[nop]
.bundle
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
tmp/**/*
!tmp/cache/.keep
zeus.json
node_modules/
node-report*.txt
session/
